{% extends 'layout.html.twig' %}


{% block stylesheet %}
	<link rel="stylesheet" href="assets/css/_aroundme.css">
	<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
{% endblock %}


{% block content %}


<div class="mb-5">
	<h2 class="aroundmeTitle text-center" data-city="{{coordinate.city}}" data-latitude="{{coordinate.latitude}}" data-longitude="{{coordinate.longitude}}">
		Autour de
		{{coordinate.city}}
	</h2>
</div>

<div class="resultContainer">

	<div class="resultMap maparoundme mb-5" id="map"></div>
	 <div id="popup" class="ol-popup">
		<a href="#" id="popup-closer" class="ol-popup-closer"></a>
		<div id="popup-content"></div>
 	</div>

	<div
		class="resultCards">
		{% for place in places %}
			<div class="card resultsaroundme" data-latitude="{{place.coordinates.1}}" data-longitude="{{place.coordinates.0}}">
				<div class="card-body">
					<h5 class="card-title">
						<strong>Location:
						</strong>
						{{place.name}}</h5>
					<p class="card-text">
						<strong>Activity(ies):
						</strong>
						{{place.activities}}</p>
					<p class="card-text">
						<strong>Distance:
						</strong>
						{{place.distance}}km</p>
				</div>
			</div>
		{% endfor %}
	</div>

</div>

{% endblock %}



{% block javascript %}
<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
<script>

var container = document.getElementById('popup');
var content = document.getElementById('popup-content');
var closer = document.getElementById('popup-closer');

var attribution = new ol.control.Attribution({ collapsible: false });

var map = new ol.Map({
    controls: ol.control.defaults(
        { attribution: false }
    ).extend([attribution]),
    layers: [new ol.layer.Tile(
        {
            source: new ol.source.OSM(
                {
                    url: 'https://a.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png',
                    attributions: [
                        ol.source.OSM.ATTRIBUTION, 'Tiles courtesy of <a href="https://geo6.be/">GEO-6</a>'
                    ],
                    maxZoom: 18,
					crossOrigin: null
                }
            )
        }
    )],
    target: 'map',
    view: new ol.View(
        {
            center: ol.proj.fromLonLat(
                [{{coordinate.longitude}}, {{coordinate.latitude}}]
            ),
            maxZoom: 18,
            zoom: 12
        }
    )
}); 

const positions = [];
{% for place in places %} 
	var layer = new ol.layer.Vector({
    source: new ol.source.Vector(
        {
            features: [new ol.Feature(
                {
                    geometry: new ol.geom.Point(ol.proj.fromLonLat([{{ place.coordinates.0 }}, {{ place.coordinates.1 }}]))
}
)]
}
)
});
map.addLayer(layer); 
positions.push(layer);


{% endfor %}
console.log(positions);

var overlay = new ol.Overlay({
	element: container,
	autoPan: true,
	autoPanAnimation: {
		duration: 250
	}
});
map.addOverlay(overlay);

closer.onclick = function() {
	overlay.setPosition(undefined);
	closer.blur();
	return false;
};

map.on('singleclick', function (event) {
	if (map.hasFeatureAtPixel(event.pixel) === true) {
		var coordinate = event.coordinate;
		content.innerHTML = '<b>Salle :</b><br/>Adresse :';
		overlay.setPosition(coordinate);
	} else {
		overlay.setPosition(undefined);
		closer.blur();
	}
});

</script>
{% endblock %}
